<extend name="Public/base_1"/>
<block name="body">
	<div class="main-title">
		<h2>{$meta_title}</h2>
	</div>
    <h2>{:get_nickname()}<button type="button">status:{$myInfo.status_text}</button><button type="button">level:{$myInfo.level}</button></h2>
    XP:
    <div class="progress">
        <div class="progress-bar" style="width: {$myInfo[xp]/10}%"></div>
    </div>
	<div class="data-table table-striped">
            <table>
      
                <tbody>
                    <tr>
                        <td>
                            <table class="my-table" border="0" cellspacing="1" cellpadding="1">
                                <caption align="top">My Info</caption>  
                                <tbody>
                                    <tr>
                                        <td colspan="4"><button type="button">Talent_ID:</button> {$myInfo.talent_id}</td>
                                    </tr>
                                    <tr>
                                        <td><button type="button">L_Name:</button> {$myInfo.l_name}</td>
                                        <td><button type="button">M_Name:</button> {$myInfo.M_name}</td>
                                        <td><button type="button">F_Name:</button> {$myInfo.f_name}</td>
                                        <td><button type="button">SSN:</button> {$myInfo.ssn}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4"><button type="button">Position_Name:</button> {$position.position_name|default="none"}</td>
                                    </tr>
                                    <tr>
                                        <td><button type="button">Gender:</button> {$myInfo.gender_text}</td>
                                        <td colspan="3"><button type="button">DoB:</button> {$myInfo.dob}</td>
                                    </tr>
                                    <tr>
                                        <td><button type="button">University_Name:</button> {$university.university_name}</td>
                                        <td><button type="button">Degree:</button> {$university.degree_text}</td>
                                        <td colspan="2"><button type="button">GPA:</button> {$university.gpa}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>
                        <notempty name="company">
                              <table class="my-table" border="0" cellspacing="1" cellpadding="1">
                                <caption align="top">Company Info</caption>  
                                <tbody>
                                    <tr>
                                        <td><button type="button">Company_Name:</button> {$company.company_name|default="none"}</td>
                                        <td><button type="button">Street:</button> {$company.street|default="none"}</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><button type="button">City:</button> {$company.city|default="none"}</td>
                                    </tr>
                                    <tr>
                                        <td><button type="button">Department_Name:</button> {$company.department_name|default="none"}</td>
                                        <td><button type="button">Zip:</button> {$company.zip|default="none"}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </notempty>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            
                            <table>
                                <caption align="top">My Skill</caption>  
                                
                                <thead>
                                    <tr>
                                        <th>Skill_Name</th>
                                        <th>Skill_Score<eq name='Think.get.skillOrder1' value='1'><a href="{:U('',array('skillOrder1'=>2))}">↓</a><else/><a href="{:U('',array('skillOrder1'=>1))}">↑</a></eq></th>
                                        <th>Rank<eq name='Think.get.skillOrder1' value='3'><a href="{:U('',array('skillOrder1'=>4))}">↓</a><else/><a href="{:U('',array('skillOrder1'=>3))}">↑</a></eq></th>
                                        <th>
                                            <select name="Select_Scale">
                                                <option value="{:U('')}">In the Backbone</option>
                                                <option <eq name='Think.get.in_bc' value='1'>selected</eq> value="{:U('',array('in_bc'=>1))}">In the Company</option>
                                            </select>
                                            <script>
                                                $(function(){
                                                    $('[name="Select_Scale"]').on('change',function(){
                                                        window.location.href=$('[name="Select_Scale"]').val();
                                                    })
                                                });
                                            </script>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                   <volist name="skill" id="vo">
					<tr>
                                            <td>{$vo.skill_name}</td>
                                            <td>{$vo.skill_score}</td>
                                            <td>{$vo[rank]+1}</td>
					</tr>
                                    </volist>
                                </tbody>
                            </table>
                        </td> 
    
                        <td>
                            <table>
                                <caption align="top">My Personality</caption>  
                                
                                <tbody>
					<tr>
                                            <td align='center'>
                                                <div id='myradar' style='height: 400px;'></div>
                                                <script type="text/javascript">
                                                    // 基于准备好的dom，初始化echarts实例
                                                    var myChart = echarts.init(document.getElementById('myradar'));

                                                    // 指定图表的配置项和数据
                                                    option = {
                                                                    tooltip: {},
                                                                    legend: {
                                                                        data: ['Average Score', 'My Score']
                                                                    },
                                                                    radar: {
                                                                        // shape: 'circle',
                                                                        indicator: [
                                                                           { name: 'J', max: 100},
                                                                           { name: 'E', max: 100},
                                                                           { name: 'T', max: 100},
                                                                           { name: 'S', max: 100},
                                                                           { name: 'I', max: 100},
                                                                           { name: 'N', max: 100},
                                                                           { name: 'F', max: 100},
                                                                           { name: 'P', max: 100},
                                                                        ]
                                                                    },
                                                                    series: [{
                                                                        name: 'My Score vs Average Score',
                                                                        type: 'radar',
                                                                        // areaStyle: {normal: {}},
                                                                        data : [
                                                                            {
                                                                                value : [{$aveskill.j}, {$aveskill.e}, {$aveskill.t}, {$aveskill.s}, {$aveskill.i}, {$aveskill.n},{$aveskill.f},{$aveskill.p}],
                                                                                name : 'Average Score'
                                                                            },
                                                                             {
                                                                                value : [{$myInfo.j}, {$myInfo.e}, {$myInfo.t}, {$myInfo.s}, {$myInfo.i}, {$myInfo.n},{$myInfo.f},{$myInfo.p}],
                                                                                name : 'My Score'
                                                                            }
                                                                        ]
                                                                    }]
                                                                };

                                                    // 使用刚指定的配置项和数据显示图表。
                                                    myChart.setOption(option);
                                                </script>
                                            </td>
					</tr>
                                </tbody>
                            </table>
                        </td>
    
                    </tr>
                    <tr>
                        <td>
                <notempty name="kpi">
                        <table class="my-table" border="0" cellspacing="1" cellpadding="1">
                                <caption align="top">My KPI & Salary</caption>  
                                <tbody>
                                    <tr>
                                        <td colspan='2'><button type="button">(Current) KPI :</button> {$kpi.kpi_period}</td>
                                    </tr>
                                    <tr>
                                        <td rowspan='2'><button type="button">Score :</button> {$kpi[score]}</td>
                                        <td>{$kpi[rank_c]}% Rank in Company</td>
                                    </tr>
                                    <tr>
                                        <td>{$kpi[rank_b]}% Rank in BackBone</td>
                                    </tr>
                                    <tr>
                                        <td rowspan='2'><button type="button">(Current) Salary : </button> {$salary.salary}</td>
                                        <td>{$salary[rank_c]}% Rank in Company</td>
                                    </tr>
                                    <tr>
                                        <td>{$salary[rank_b]}% Rank in BackBone</td>
                                    </tr>
                                </tbody>
                            </table>
                    </notempty>
                        </td>
                    </tr>
                </tbody>
            </table>

	</div>
</block>

<block name="script">
<script type="text/javascript">
$(function(){
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
	//点击排序
	$('.list_sort').click(function(){
		var url = $(this).attr('url');
		var ids = $('.ids:checked');
		var param = '';
		if(ids.length > 0){
			var str = new Array();
			ids.each(function(){
				str.push($(this).val());
			});
			param = str.join(',');
		}

		if(url != undefined && url != ''){
			window.location.href = url + '/ids/' + param;
		}
	});
});
</script>
</block>